PORT = 3000
MONGO_URL = your-mongodb-url
CLOUDINARY_CLOUD_NAME = your-cloudinary-cloud-name
CLOUDINARY_API_KEY = your-cloudinary-api-key
CLOUDINARY_API_SECRET = your-cloudinary-api-secret
ENCRYPTION_KEY = your-encryption-key
JWT_SECRET_KEY = your-jwt-secret-key